.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
:root {
    --bgcolor: #121212;
    /*--boxcolor: #a7a4a4;*/
    --boxcolor: #3d3d3d;
    /*--titleboxcolor: #AEC6CF;*/
    --titleboxcolor: #291754;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.night {
    --bgcolor: #121212;
    
    --titleboxcolor: #AEC6CF;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body {
    background-color: var(--bgcolor);
}

.canvas {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    text-align: center;
}

.title {
    background-color: var(--titleboxcolor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    background-color: var(--boxcolor);
    outline: 1px green dashed;
    position: absolute;
    z-index: 9;
    height: 50%;
    width: 50%;
    top: 50px;
    left: 50px;
}

#bodyID {
    position: absolute;
    font-size: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resize {
    position: absolute;
    left: 100%;
    top: 100%;
    cursor: nwse-resize;
    transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent transparent #008000;
    z-index: 10;
}

.expbody {
    
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;
}

.eval {
    color: #C1E1C1;
    text-align: left;
}

.expbody p {
    color: #C1E1C1;
    text-align: left;
    line-height: 28px;
}

.expbody button {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: none;
    background-color: var(--boxcolor);
    width: 8vw;
    height: 3vh;
}

.expbody button:hover {
    background-color: #878484;
}

.wrapper {
    display: flex;
    gap: .5rem;
}
.wrapper p {
    width: 100px;
}

.eval {
    border-style: solid;
    border-width: 2px;
    border-color: #878484;
}